[project]
	description = Ejemplo de Kotlin Rest api, Spring Data y Postgresql
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cesar Redondo (credondocr)
[access "refs/for/refs/*"]
	read = group user/Cesar Redondo (credondocr)
	push = group user/Cesar Redondo (credondocr)
	label-Code-Review = -2..+2 group user/Cesar Redondo (credondocr)
	label-Verified = -1..+1 group user/Cesar Redondo (credondocr)
	rebase = group user/Cesar Redondo (credondocr)
	removeReviewer = group user/Cesar Redondo (credondocr)
	submit = group user/Cesar Redondo (credondocr)
[access "refs/heads/*"]
	read = group user/Cesar Redondo (credondocr)
	create = group user/Cesar Redondo (credondocr)
	push = +force group user/Cesar Redondo (credondocr)
	pushMerge = group user/Cesar Redondo (credondocr)
[access "refs/tags/*"]
	push = +force group user/Cesar Redondo (credondocr)
	pushTag = group user/Cesar Redondo (credondocr)
	pushSignedTag = group user/Cesar Redondo (credondocr)
